@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bitcount+Prop+Single+Ink:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+DE+SAS:wght@100..400&display=swap');

.banner-container {
    margin: 0 auto;
    margin-top: 30px;
    width: 95%;
    max-width: 1200px;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
}

.banner-overlay {
    background-image: url('/img/bannerGym.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 30px;
}

.banner-overlay::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    z-index: 1;
}

.banner-content {
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
    padding: 20px;
}

.banner-description h1 {
    font-family: "Playwrite DE SAS", cursive;
    font-size: 2.5rem;
    margin-bottom: 10px;
    animation: fadeInDown 1s ease-in-out;
}

.banner-description p {
    font-family: "Anton", sans-serif;
    font-size: 1.2rem;
    margin: 0;
    animation: fadeInUp 1s ease-in-out;
}