@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bitcount+Prop+Single+Ink:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+DE+SAS:wght@100..400&display=swap');

.banner-container {
    margin: 0 auto;
    width: 80%;
}


.banner-content {
    background-image: url('/public/img/bannerGym.jpg');
    width: 100%;
    height: 300px;
    border-radius: 30px;
}

.banner-description {
    color: white;
    text-align: center;
}

.banner-description h1 {
    padding-top: 100px;
    font-family: "Playwrite DE SAS", cursive;
}